/* LandingPage.css */

@keyframes riseUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.landing-page {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  margin-right: 250px;
  align-items: center;
  height: 100vh;
  text-align: center;
  animation: riseUp 0.5s ease-out forwards;
}

.icon img.logo {
  width: 100%;
  height: auto;
  animation-delay: 0.2s;
}

/* Style for buttons container */
.landing-page .d-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: auto;
  max-width: 600px;
  align-items: center;
  animation-delay: 0.4s;
  justify-content: center;
}


/* Custom button styles */
.landing-page .btn-custom {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  background-color: transparent;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: auto;
}

.landing-page .btn-custom:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

/* Ensure no additional margins are affecting the centering */
body, html {
  margin: 0;
  padding: 0;
}
