/* register.css */

.register-container {
  max-width: 400px;
  margin: auto;
  padding: 25px;
  margin-right: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: #ffffff; /* White background for the form */
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333; /* Dark grey color for text */
}

.form-input,
.register-form textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc; /* Light grey border */
  border-radius: 5px;
  margin-bottom: 10px; /* Spacing below each input */
  font-size: 14px;
}

.register-form textarea {
  resize: vertical; /* Allows the user to vertically resize the textarea */
}

button[type="submit"] {
  padding: 12px;
  background-color: #4676EE; /* Your main color theme */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button[type="submit"]:hover {
  background-color: #134ACC; /* A darker shade of your main color theme for hover effect */
}

small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #666;
}
