/* Swipe Interface Styles */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* This will vertically center everything in the body */
  flex-direction: column; /* Aligns children (like .tinder) in a column */
  background: linear-gradient(to bottom, #ffd446, #f6a273);
}

.tinder {
  width: 90vw; /* Adjusted to ensure it does not stretch too wide */
  max-width: 400px; /* Keeps the maximum width */
  height: 75vh;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 0.1s ease-in-out;
  opacity: 1; /* You might adjust this based on your loading logic */
}

/* Other styles remain the same */


.loaded.tinder {
  opacity: 1;
}

.tinder--cards {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.tinder--card {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  max-width: 400px;
  height: 75vh;
  background: #FFFFFF;
  border-radius: 20px; 
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  top: 0; /* Align cards to the top */
  left: 50%; /* Center cards horizontally */
  transform: translate(-50%, 0) scale(1); /* Center the first card */
  transform-origin: bottom center;
}

.card-image {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
}

.card-content {
  text-align: center;
  padding: 20px;
  background: white;
  width: 100%;
  box-sizing: border-box;
}



.card-container {
  width: 90vw;
  max-width: 400px;
  height: 75vh;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.card-container .card-image {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Maintain 1:1 aspect ratio */
  overflow: hidden;
}

.card-container .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.card-container .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: white;
}


.moving.tinder--card {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.9);
}

.tinder--card img.card-image {
  width: 100%; /* Or any other size */
  max-height: 200px; /* Adjust as necessary */
  object-fit: cover; /* To cover the area without losing aspect ratio */
  border-radius: 20px 20px 0 0; /* Rounded corners on top */
}

.tinder--card h3 {
  padding: 10px 20px;
  text-align: center; 
}


.tinder--card {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.tinder--buttons {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.tinder--buttons button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.nope {
  background-color: #ff5858;
  
}

.love {
  background-color: #4ccc64;
}

@media (min-width: 992px) {
  .tinder {
    flex-direction: row;
    align-items: center;
    padding: 0 10%;
  }

  .tinder--cards {
    justify-content: space-around;
  }

  .tinder--card {
    &:not(:first-child) {
      display: none; 
    }
  }

  .tinder--buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 140px;

  }
}
